{% extends '_parts/auth.part.html.twig' %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}

<div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                <div class="col-sm-8 col-md-6 col-xl-9">
                  <h2 class="mb-3 fs-7 fw-bolder">Reset Your password</h2>
                  <p class=" mb-9">Fill out the form now to reset your password</p>
                  <div class="row">
                  {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    {{ adminSubmitButton('Reset') }}
                  {{ form_end(resetForm) }}
                </div>
              </div>
            </div>
{% endblock %}
